<a href="https://colab.research.google.com/github/Muzaffar2106/IBP-Assignment-2/blob/main/development_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pseudocode for the Enron email**

**Download Enron Email database**

1.Use the wget! command to download the enron.db file.

2.Set the output to the enron.db file.

**Establish connection to SQLite database**

1.import sqlite3 module and connect with SQlite database.

2.Using the sqlite.connect() function, connect enron.db to the SQlite module.

3.Save the previously mentioned connection to the variable "conn".

4.Make a cursor function to run queries in SQL on the database.

5.The 'conn.cursor()' method can be used to create a cursor function.

6.The "cur" variable is used to store the cursor function.

**Check the Schema of database**

1.Write a SQL query to retrieve information from the database enron.db.

2."SELECT name FROM sqlite_master WHERE type='table';"

3.Utilize the 'cur' cursor function to run the SQL query. 

4.Utilize the function cur.fetchall() to get all the results.

**Check the schema of tables**

1.Write a SQL query using the SQlite PRAGMA c.

2.Table name "employeelist"; "message"; "recipientinfo"; and "referenceinfo" should be added to the PRAGMA command.

3.Execute the SQL query using a cursor function 'cur'.

4.Utilize the cur.fetchall() function to retrieve all the results.

#**Email Traffic Overtime**

**Importing libraries**

1.To read SQL queries and convert them to dataframes, import the pandas library.

2.Represent pandas with the alias 'pd'.

3.Import the Seaborn library for more illuminating statistics graphics and visualizations.

4.Represent Seaborn using the alias'sns'.

5.Import 'matplotlib.pyplot' module to produce visualization.

6.Give the "matplotlib.pyplot" module an alias of "plt".

**Check for null values in the data column in Message**

1.Write a SQL query that selects the "date" field from the "message" table and stores it in a variable SQL

**Convert data into dataframe**

1.To read a SQL query, import the pandas library.

2.Use the pandas module's'read_sql_query()' function.


3.Use the'sql' variable from a SQL query and the 'conn' variable from a database connection as arguments. 

4.The 'read_sql_query()' method and its input arguments are saved to the'message_df' variable.

5.'message_df' dataframe contents to be displayed.

**Counting the number of emails for each day**

1.With the'sql' variable, create a sql query

2.To format dates legible, use the'strftime()' function and choose it.

3.Date data should be formatted as '%Y-%m-%d', where %Y stands for the year, %m for the month, and %d for the day.

4.Take the 'date' column from the'message' table in the enron.db database.

5.The 'count(*)' function can be used to count every row in the'message' table.

6.By "date," group the count values.

**converting data into dataframe**

1.Use the panda library to read the above sql query and convert into dataframe.

2.Utilize the Panda module's'read_sql_query()' function.

3.Use the database connection variable ('conn') and the SQL query's variable ('sql') as arguments.

4.The'read_sql_query()' method and its input parameters are saved to the'messageperday_df' variable.

5.'messageperday_df' dataframe contents displayed.

**Plot graph for email per day**

1.use of the matplotlib library's 'plt.subplot()' function, which aids in the creation of figures and the plotting of their axes.

2.Decide on the figure's size (20,5) and save it as a variable called "fig" #To make the line plot, utilize the Seaborn library.

3.use the 'lineplot()' function from the Seaborn library, setting 'x=date' and 'y=count' as the parameter values.

4.use the'messageperday_df' variable as your data source.

5.Use the matplotlib library's'show()' method to display the line plot.

**Counting the number of emails for each week**

1.Repeat above steps for "counting the number of emails for each day" and replace day by week.

**Counting the number of emails per month**

1.Repeat above steps for "counting the number of emails for each day" and replace day by month.

#**Top Senders and Recipients**

**Top Senders**

1.Create a SQL query using the'sql_sender' variable.

2.From the message table, choose the sender column.

3.The 'count(*)' function can be used to count every row in the'message' table. 

4.By "sender," group the count values.
By count column, sort.

5.Results should be sorted in decreasing order.
Reduce the amount of rows, for instance, LIMIT 15.

**converting data into dataframe**

1.Use the panda library to read the previously mentioned sql query and convert into dataframe.

2.utilize the Panda module's'read_sql_query()' function.

3.Use the database connection-making variables 'conn' and'sql_sender' from a SQL query as arguments.

4.'top_sendr_df' is a variable where the function'read_sql_query()' and its parameters are saved.

5.*italicized text*'top_sendr_df' Dataframe contents displayed.

**Plotting the bar chart**

1.Use of seaborn and matplotlib to perform visualisation of data.

2.Dataframe 'top_sendr_df' should be saved to the variable 'data'.

3.Use the seaborn library's 'barplot()' function.

4.Specify 'x="count"' and 'y="sender"' for the parameters.

5.Use the 'data' variable as the data source.

6.Using the'show()' function from the matplotlib package, display the bar graph.

**Top Recipients**

1.Write a SQL query using the'sql_recipt' variable.

2.Select the recipientinfo table's rvalue column.

3.The 'count(*)' function can be used to count every row in the'recipientinfo' database.

4.'rvalue' is used to group the count values.

5.By count column, sort.

6.Results should be sorted in decreasing order.
Reduce the amount of rows, for instance, LIMIT 10.

**converting data into dataframe**

1.Use the panda library to read the previously mentioned sql query and convert into dataframe.

2.dataframe using the panda library.

3.Utilize the Panda module's'read_sql_query()' function.

4.Use the database connection variable 'conn' and the SQL query variable'sql_recipt' as arguments.

5.Save the method and its arguments from the'read_sql_query()' call to the 'top_recipt_df' variable.

```
# This is formatted as code
```



6.'top_recipt_df' dataframe contents displayed.

**Plotting the bar chart**

1.Use of seaborn and matplotlib to perform visualisation of data.

2.Dataframe 'top_recipt_df' should be saved to the variable 'data'.

3.Use the seaborn library's 'barplot()' function.

4.specify 'x="count"' and 'y="rvalue"' for the parameters.
5.Use the 'data' variable as the data source.

6.Using the'show()' function from the matplotlib package, display the bar graph.

#**Email Distribution by Recipient Type**

1.Write a SQL query using the'sql_recipients_type' variable.

2.Select the recipientinfo table's rtype column.

3.The 'count(*)' function can be used to count every row in the'recipientinfo' database.

4.'rtype' should be used to group the count values.

5.Sort by rtype.

**converting data into dataframe**

1.Use the panda library to read the above sql query and convert data into dataframe.

2.utilize the Panda module's'read_sql_query()' function.

3.Use the SQL query's variable'sql_recipients_type' and the variable 'conn' that establishes the database connection as parameters.

4.The'read_sql_query()' method and its arguments are saved to the'recipt_type_df' variable.

5.Display the data in the dataframe'recipt_type_df'.

**generating a pie chart for the data**

1.Use the 'rtype' column from the dataframe'recipt_type_df' as the value for the variable 'labels'.

2.'count' column from the dataframe'recipt_type_df' should be used as the values for the variable 'values'.

3.To build the pie chart, use the matplotlib library.

4.Use the matplotlib library's 'pie()' function.

5.To print the results as percentages, set the arguments to 'values', 'labels=labels', and 'autopct='%1.1f%%'.

6.Use the matplotlib library's 'title()' function to set the title to 'Email Distribution by Recipient Type'.

7.Use the matplotlib library's show() method to display the pie chart.

#**Testing**

Several coding problems occurred during the writing the codes' script and need to be tested. Here are a few mistakes that happened:

**Import Error** 

This type of error occur when importing modules or libraries, you may see import errors. The module may not be installed or its name may be spelled incorrectly, which can result in this problem. For instance, typing "import seeborn" instead of "import seaborn" 

**solution:**

-Verify module installation.

-Check the module name.

-Verify the compatibility of the module

-Run cell after correction

**Syntax Error**

This happen when you use syntax that is against the norms of the programming language. Syntax mistakes can arise from missing parentheses or brackets, improper indentation, or misspelled keywords. In my case, there were misspelled keyowrds and missing parentheses which lead to syntax error.

**solution:**

-Go through the error message.

-Check for typos errors.

-Review the line(s) that mentioned in the error message.

-Check the quotations, brackets, and parenthesis.

-Run cell after correction.

**Name Error**

This mistake happen when you call a function or variable that isn't defined or that isn't available in the current scope. This can occur if the variable name is typed incorrectly or if it is out of scope. Hence, when i wrote my code variables were misspelled and thus not been recognised.

**solution:**

-Check the error message.

-Verify variable and function names.

-Check the scope.

-Use of print statements.

-Check the code execution sequence.

-Run cell after correction.